<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title><%= current_page.data.title %></title>
<meta name="description" content="<%= data.meta.meta_description %>">
  <meta name="theme-color" content="#737373" />
  <!-- Facebook Open Graph data -->
  <meta property="og:title" content="<%= data.meta.meta_title %>" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://www.n21saigon.com" />
  <meta property="og:image" content="<%= data.meta.meta_image %>" />
  <meta property="og:description" content="<%= data.meta.meta_description %>" />
  <meta property="og:site_name" content="<%= data.meta.meta_product_name %>" />
  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="<%= data.meta.meta_title %>">
  <meta name="twitter:description" content="<%= data.meta.meta_description %>">
  <meta name="twitter:image:src" content="<%= data.meta.meta_image %>">
  <%= partial "layouts/shared/favicon" %>
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bebas+Neue|Roboto:300,400,700&display=swap">
  <%= stylesheet_link_tag "application" %>
  <%= stylesheet_link_tag "fontawesome/css/all" %>
</head>

<body>
  <%= partial "layouts/shared/navbar" %>
  <%= yield %>
  <%= partial "layouts/shared/footer" %>
  <%= partial "layouts/shared/back_to_top" %>
  <%= javascript_include_tag "vendor", defer: 'defer' %>
  <%= javascript_include_tag "bundle" %>
</body>

</html>
