<section id="about-section" class="page">
  <h2 class="page-title"><%= t('about-section.title') %></h2>
  <hr class="title-sep">
  <div class="flex-wrapper">
    <div class="flex-left">
      <p class="about-text"><%= t('about-section.desc1_html') %></p>
      <p class="about-text"><%= t('about-section.desc2') %></p>
      <p class="about-text"><%= t('about-section.desc3_html') %></p>
      <p class="about-text"><%= t('about-section.desc4_html') %></p>
    </div>
    <div class="flex-right">
      <iframe src="https://www.youtube.com/embed/OOdkcSGfjCU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;gyroscope; picture-in-picture" title="N21 Restaurant by Wine talk" allowfullscreen loading="lazy"></iframe>
    </div>
  </div>
</section>
