<section id="menu-section" class="page">
  <div class="container">
    <h2 class="page-title">Menu</h2>
    <hr class="title-sep" />
    <div class="menu-section-flex-container">
      <div class="menu-text-container">
        <div class="food-text-wrapper">
          <p>
            As all begins with ingredients, we are focusing on quality ones,
            responsible sourcing and sustainability at every chance we get.
          </p>
          <a id="menu-link" href="https://res.cloudinary.com/dpra9vwkq/image/upload/v1580391774/N21_menu.pdf"
            target="_blank" rel="noopener noreferrer">
            View the full menu
          </a>
        </div>
      </div>
      <div class="carousel-container">


        <div id="slide-container">
          <div id="slide-element-1">
            <%= image_tag "", data: { src: "https://res.cloudinary.com/dpra9vwkq/image/upload/v1580218284/enomatic.jpg" }, alt: "N21 Restaurant - High Standard Bistronomie", class: "slide-image lazy" %>
          </div>
          <div id="slide-element-2">
            <%= image_tag "", data: { src: "https://res.cloudinary.com/dpra9vwkq/image/upload/v1580218284/Goat_Cheese.jpg" }, alt: "N21 Restaurant - High Standard Bistronomie", class: "slide-image lazy" %>
          </div>
          <div id="slide-element-3">
            <%= image_tag "", data: { src: "https://res.cloudinary.com/dpra9vwkq/image/upload/v1580218284/prawn_ceviche.jpg" }, alt: "N21 Restaurant - High Standard Bistronomie", class: "slide-image lazy" %>
          </div>
          <div id="slide-element-4">
            <%= image_tag "", data: { src: "https://res.cloudinary.com/dpra9vwkq/image/upload/v1580218284/Beef_Brisket.jpg" }, alt: "N21 Restaurant - High Standard Bistronomie", class: "slide-image lazy" %>
          </div>
        </div>






      </div>
    </div>
  </div>
  <section id="gallery-section">
    <div class="gallery">
      <% data.gallery.each do |owner, pic| %>
      <div class="brick">
        <a href="<%= pic.url %>" data-lightbox="picture-gallery" data-title="N21 Restaurant - Our Delicious Food">
          <%= image_tag "", data: { src:  pic.url }, alt: "N21 Restaurant - Our Delicious Food", class: "lazy" %>
        </a>
      </div>
      <% end %>
    </div>
  </section>
</section>
<section class="feature-list">
  <div class="icon-default icon-skeen">
    <img src="https://res.cloudinary.com/dpra9vwkq/image/upload/v1581692070/icon_cooking.png"
      alt="N21 Restaurant - Features" />
  </div>
  <div class="container">
    <div class="build-title">
      <h2 class="page-title">Good food... Good feelings</h2>
      <h6>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta
        similique explicabo nihil placeat nobis. <br />
        voluptatum exercitationem amet corrupti, est mollitia veritatis nisi
        temporibus harum commodi dolorum.
      </h6>
    </div>
    <div class="reinsurance-container">
      <div class="reinsurance-item">
        <div class="reinsurance-icons">
          <%= image_tag "", data: { src: "https://res.cloudinary.com/dpra9vwkq/image/upload/v1581695981/vegetables.png" }, alt: "N21 Restaurant - Fresh quality ingredients", class:"reinsurance-icon lazy" %>
        </div>
        <h5>Fresh Dishes</h5>
        <hr class="small-sep" />
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eius-
        </p>
      </div>
      <div class="reinsurance-item">
        <div class="reinsurance-icons">
          <%= image_tag "", data: { src: "https://res.cloudinary.com/dpra9vwkq/image/upload/v1581695981/menu.png" }, alt: "N21 Restaurant - Various Menu", class:"reinsurance-icon lazy" %>
        </div>
        <h5>Various Menu</h5>
        <hr class="small-sep" />
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eius-
        </p>
      </div>
      <div class="reinsurance-item">
        <div class="reinsurance-icons">
          <%= image_tag "", data: { src: "https://res.cloudinary.com/dpra9vwkq/image/upload/v1581695981/cook.png" }, alt: "N21 Restaurant - Premium Service", class:"reinsurance-icon lazy" %>
        </div>
        <h5>Well Service</h5>
        <hr class="small-sep" />
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eius-
        </p>
      </div>
    </div>
  </div>
</section>
