<nav id="navbar">
  <div class="nav-wrapper">
    <div class="navbar-logo-container">
      <% link_to "#home-section", 'aria-label': "Back to Home" do %>
      <%= image_tag "https://res.cloudinary.com/dpra9vwkq/image/upload/v1580313220/high_standard_bistronomie_round.png", alt: "N21 Restaurant - Logo", id:"nav-logo-left" %>
      <% end %>
    </div>
    <!-- Navigation -->
    <div class="navbar-middle hidden-sm-down">
      <ul class="nav-list">
        <li class="navbar-item"><%= link_to "About Us", "#about-section", class:"navbar-link" %></li>
        <li class="navbar-item"><%= link_to "Menu", "#menu-section", class:"navbar-link" %></li>
        <!-- <li class="navbar-item"><%#= link_to "Private events", "#private_events-section", class:"navbar-link" %></li> -->
        <li class="navbar-item"><%= link_to "Contact", "#contact-section", class:"navbar-link" %></li>
      </ul>
    </div>
    <div class="social-wrapper hidden-sm-down">
      <div class="social-links">
        <a href="https://www.facebook.com/N21restaurant/" class="nav-icon" target="_blank" rel="noopener noreferrer"
          aria-label="Facebook"><i class="fab fa-facebook-square"></i></i></a>
        <a href="https://www.instagram.com/n21restaurant/?hl=en" class="nav-icon" target="_blank"
          rel="noopener noreferrer" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
        <a href="tel:+842839300840" class="nav-icon" aria-label="Telephone"><i class="fab fa-whatsapp"></i></a>
      </div>
    </div>
    <!-- Burger menu for small screens -->
    <div class="mobile_nav hidden-md-up">
      <div class="hamburger-logo-wrapper">
        <%= image_tag "https://res.cloudinary.com/dpra9vwkq/image/upload/v1579354123/N-white.png", alt: "N21 Restaurant", class: "sliding-img-left front-position sidenav-trigger", id:"n-img" %>
        <button class="hamburger sidenav-trigger front-position" type="button" aria-label="Menu">
        </button>
        <%= image_tag "https://res.cloudinary.com/dpra9vwkq/image/upload/v1579354322/21-white.png", alt: "N21 Restaurant", class: "sliding-img-right front-position sidenav-trigger", id:"21-img" %>
      </div>
      <div class="sidenav">
        <% link_to "#home-section" do %>
        <%= image_tag "https://res.cloudinary.com/dpra9vwkq/image/upload/v1580313220/high_standard_bistronomie_round.png", alt: "N21 Restaurant - Logo", class:"sidenav-link", id:"logo-sideNav" %>
        <% end %>
        <ul>
          <li class="navbar-item"><%= link_to "About Us", "#about-section", class:"navbar-link sidenav-link" %></li>
          <li class="navbar-item"><%= link_to "Menu", "#menu-section", class:"navbar-link sidenav-link" %></li>
          <!-- <li class="navbar-item">
            <%#= link_to "Private events", "#private_events-section", class:"navbar-link sidenav-link" %></li> -->
          <li class="navbar-item"><%= link_to "Contact", "#contact-section", class:"navbar-link sidenav-link" %></li>
        </ul>
        <div class="social-wrapper-sidenav">
          <div class="social-links-sidenav">
            <a href="https://www.facebook.com/N21restaurant/" class="nav-icon" target="_blank" rel="noopener noreferrer"
              aria-label="Facebook"><i class="fab fa-facebook-square"></i></i></a>
            <a href="https://www.instagram.com/n21restaurant/?hl=en" class="nav-icon" target="_blank"
              rel="noopener noreferrer" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
            <a href="tel:+842839300840" class="nav-icon" aria-label="Telephone"><i class="fab fa-whatsapp"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
