---
title: N21 Restaurant - High standard bistronomie
---
<%= I18n.locale %>
<%= current_page %>
<h2>Index en</h2>
<hr>

<%  locales.each do | l |%>
<% if l == I18n.locale %>
<span><%= l.downcase  %></span>
  <% else %>
  <%= link_to l, (l == :en ? "/" : "/#{l}/"), locale: l, title: "Switch language to #{l.upcase}" %>
  <% end %>
<% end %>

<!-- Each section goes on a partial under layouts/pages/ -->
<div class="main">
  <%= partial "/pages/home" %>
  <%= partial "/pages/about" %>
  <div class="parallax lazy"
    data-bg="url(https://res.cloudinary.com/dpra9vwkq/image/upload/v1601643116/Floor_parallax.jpg), linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.2))">
  </div>
  <%= partial "/pages/menu" %>
  <div class="parallax lazy"
    data-bg="url(https://res.cloudinary.com/dpra9vwkq/image/upload/v1601643184/Pool_parallax.jpg), linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.2))">
  </div>
  <%= partial "/pages/contact" %>
  <div class="parallax lazy"
    data-bg="url(https://res.cloudinary.com/dpra9vwkq/image/upload/v1600343145/table_and_guests.jpg), linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.2))">
  </div>
  <%= partial "/pages/location_hours" %>
</div>
