---
title: N21 Restaurant - High standard bistronomie
---

<!-- Each section goes on a partial under layouts/pages/ -->
<div class="main">
  <%= partial "/pages/home" %>
  <%= partial "/pages/about" %>
  <div class="parallax lazy"
    data-bg="url(https://res.cloudinary.com/dpra9vwkq/image/upload/v1601640139/Floor_2_copy_fph6uo.jpg), linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.2))">
  </div>
  <%= partial "/pages/menu" %>
  <div class="parallax lazy"
    data-bg="url(https://res.cloudinary.com/dpra9vwkq/image/upload/v1601640139/Pool_Nice_copy_t6wuyn.jpg), linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.2))">
  </div>
  <%= partial "/pages/contact" %>
  <div class="parallax lazy"
    data-bg="url(https://res.cloudinary.com/dpra9vwkq/image/upload/v1600343145/table_and_guests.jpg), linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.2))">
  </div>
  <%= partial "/pages/location_hours" %>
</div>
